<div class="search-container">
  <div class="input-wrapper">
    <input type="text" placeholder="Enter city here..." [formControl]="searchCity" />
    <div class="error-messages">
      @if (cityErrors && searchCity.hasError('required')) {
        <p class="error-text">City is required</p>
      }
      @if (cityErrors && searchCity.hasError('minlength')) {
        <p class="error-text">Min 2 characters required</p>
      }
      @if (cityErrors && searchCity.hasError('pattern')) {
        <p class="error-text">Special characters not allowed</p>
      }
      @if (cityErrors && searchCity.hasError('whitespace')) {
        <p class="error-text">Cannot be only spaces</p>
      }
    </div>
  </div>
  <button
    matButton="filled"
    (click)="search()"
    aria-label="Search city"
    [disabled]="cityErrors"
  >
    Search
  </button>
</div>
